@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f7e1d7;
  font-family: 'Exo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

p {
  font-size: 0.8rem;
}

.mainContainer {
  margin-top: 10%;
  width: 600px;
  min-height: 500px;
  background-color: white;
  border-radius: 10px;
  padding-top: 25px;
}

.pageContainer {
  width: 90%;
  margin: 0 auto;
}

.omeletteImgDiv {
  width: 100%;
  height: 250px;
}

.omeletteImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.headingContent {
  margin-top: 20px;
}

.headingContent h1 {
  margin-bottom: 10px;
}

.preparationTime {
  background-color: #ff9dff1d;
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
}

.preparationTime p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: maroon;
}

.preparationTime ul {
  font-size: 0.8rem;
  padding-left: 15px;
}

.preparationTime ul li {
  margin-bottom: 7px;
}

.preparationTime ul li span {
  font-weight: bold;
}

.IngredientsDiv {
  padding: 20px;
  border-bottom: 1px solid #00000039;
}

.IngredientsDiv h2 {
  color: maroon;
  margin-bottom: 15px;
}

.IngredientsDiv ul {
  padding-left: 20px;
  font-size: 0.8rem;
}

.IngredientsDiv ul li {
  margin-bottom: 7px;
}

.IngredientsDiv ol {
  padding-left: 20px;
  font-size: 0.8rem;
}

.IngredientsDiv ol li {
  margin-bottom: 7px;
}

.IngredientsDiv ol li span {
  font-weight: 700;
}

.NutritionDiv {
  padding: 20px;
}

.NutritionDiv h2 {
  color: maroon;
  margin-bottom: 15px;
}

.NutritionDiv p {
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border-bottom: 1px solid #0000004c;
  text-align: left;
  padding: 8px;
  font-size: 0.8rem;
}

table tr td:nth-child(2) {
  font-weight: 700;
  color: maroon;
}

tr:last-child td {
  border-bottom: none;
}

@media (max-width: 576px) {
  .mainContainer {
    margin-top: 0px;
  }
  body {
    padding-bottom: 0px;
  }
}
